.transaction-list {
    margin: auto;
    padding-top: 10px;
    border-bottom: 1px solid black;
    width: fit-content;
    text-align: center;
    height: 30px;
}

.transaction-list span {
    float: left;
    width: 180px;
}

.transaction-list:last-child {
    border: none;
}