ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    width: 10%;
    height: 100%;
    position: fixed;
    background-color:#deffe6;
}

li a {
    display: block; 
    color: black;
    text-align: left;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: orange;
    color: white;
}

Router {
    background: transparent;
}

.logo-navbar {
    width: 7vw;
    padding: 0;
    margin: 10px 0 10px 0;
}

#logo-link {
    padding: 0;
    text-align: center;
}

#logo-link:hover {
    background-color: transparent;
}

.active {
    background-color: orange;
    color: white;
}