.login {
    margin: 0;
    position: relative;
    top:50%;
    -ms-transform: translateY(80%);
    transform: translateY(80%);
}

.logo {
    width: 400px;
    margin: auto;
    text-align: center;
}

.logo > img {
    padding-bottom: 40px;
}

.login-box {
    width: 251px;
    margin: auto;
}

form {
    display: table;
    border-bottom: 1px solid rgb(173, 173, 173);
}

.no-rekening {
    display: table-cell;
    width: 100%;
}

input {
    padding: 10px 0 10px 0;
    position: relative;
    display: block;
    float: left;
    margin-top: 40px;
    margin-bottom: 0;
    margin-right: 0;
    border: none;
    font-size: medium;
}

input:focus {
    outline: none;
}

button {
    /* float: right;
    padding: 10px;
    border-radius: 5px;
    background: black;
    color: white;
    border: none;
    margin-top: 10px;
    margin-right: 10px; */
    float: right;
    padding: 10px 0 10px;
    background: none;
    border: none;
    color:  rgb(173, 173, 173);
}

button:hover {
    outline: none;
    font-size: 20px;
    color: black;
}