.profile-list {
    margin: auto;
    padding-top: 10px;
    width: fit-content;
    text-align: center;
    height: 30px;
}

.profile-list span {
    float: left;
    width: 10em;
}

.profile-category {
    text-align: left;
    font-weight: bold;
}

.profile-data {
    text-align: right;
}